<h2> UFC Data Analysis </h2>

<h3>Data Cleaning </h3>

In [2]:
#importing Libraries
import pandas as pd
import numpy as np
from datetime import date
import openpyxl

<h4> 2.1 Cleaning the Fighter Data Set </h4>

In [14]:
#import data sets for fighters
fightermetric_df = pd.read_csv(r"fightermetric.csv")
fighter_df = pd.read_csv(r"fighterdata.csv")

In [15]:
fighter_df.head()

,Fighter Name,Nickname,W,L,D,Height,Weight,Reach,Stance,DOB
0,Tom Aaron,NaN,5,3,0,NaN,155 lbs.,NaN,NaN,"Jul 13, 1978"
1,Danny Abbadi,The Assassin,4,6,0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983"
2,David Abbott,Tank,10,14,0,"6' 0""",265 lbs.,NaN,Switch,NaN
3,Shamil Abdurakhimov,Abrek,20,5,0,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981"
4,Hiroyuki Abe,Abe Ani,8,14,3,"5' 6""",145 lbs.,NaN,Orthodox,NaN

In [16]:
print("Dataset Shape:", fighter_df.shape)

Dataset Shape: (3299, 10)

In [17]:
print("Dataset Datatype\n", fighter_df.dtypes)

Dataset Datatype
 Fighter Name    object
Nickname        object
W                int64
L                int64
D                int64
Height          object
Weight          object
Reach           object
Stance          object
DOB             object
dtype: object

In [18]:
print("Dataset Null Values\n",fighter_df.isna().sum())

Dataset Null Values
 Fighter Name       0
Nickname        1518
W                  0
L                  0
D                  0
Height           263
Weight            75
Reach           1737
Stance           868
DOB              737
dtype: int64

In [19]:
fighter_df['Age'] = pd.to_datetime(fighter_df['DOB'].str.strip())
fighter_df['Age'] = fighter_df['Age'].dt.year

In [20]:
current_year = date.today().year
fighter_df['Age'] = current_year - fighter_df['Age']

In [21]:
fighter_df['Age'] = fighter_df['Age'].fillna(0).astype(int)
fighter_df['Nickname'] = fighter_df['Nickname'].fillna('None')
fighter_df[['Height','Weight','Stance','Reach','DOB']] = fighter_df[['Height','Weight','Stance','Reach','DOB']].fillna('NA')

In [22]:
fighter_df.head()

,Fighter Name,Nickname,W,L,D,Height,Weight,Reach,Stance,DOB,Age
0,Tom Aaron,None,5,3,0,NA,155 lbs.,NA,NA,"Jul 13, 1978",42
1,Danny Abbadi,The Assassin,4,6,0,"5' 11""",155 lbs.,NA,Orthodox,"Jul 03, 1983",37
2,David Abbott,Tank,10,14,0,"6' 0""",265 lbs.,NA,Switch,NA,0
3,Shamil Abdurakhimov,Abrek,20,5,0,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",39
4,Hiroyuki Abe,Abe Ani,8,14,3,"5' 6""",145 lbs.,NA,Orthodox,NA,0

In [23]:
fightermetric_df.head()

,NAME,WeightClass,SLPM,SAPM,STRA,STRD,TD,TDA,TDD,SUBA
0,Tom Aaron,lightweight,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
1,Danny Abbadi,lightweight,3.29,4.41,0.38,0.57,0.00,0.00,0.77,0.0
2,David Abbott,heavyweight,1.35,3.55,0.30,0.38,1.07,0.33,0.66,0.0
3,Shamil Abdurakhimov,heavyweight,2.53,2.53,0.45,0.58,1.36,0.22,0.77,0.3
4,Hiroyuki Abe,featherweight,1.71,3.11,0.36,0.63,0.00,0.00,0.33,0.0

In [24]:
fightermetric_df.shape

(2932, 10)

In [25]:
#Merging the two datasets
mergeddata_df = pd.merge(fighter_df, fightermetric_df, left_on = 'Fighter Name', right_on = 'NAME', how = 'left')

In [28]:
print("Dataset Null Values\n",mergeddata_df.isna().sum())

Dataset Null Values
 Fighter Name      0
Nickname          0
W                 0
L                 0
D                 0
Height            0
Weight            0
Reach             0
Stance            0
DOB               0
Age               0
NAME            384
WeightClass     384
SLPM            384
SAPM            384
STRA            384
STRD            384
TD              384
TDA             384
TDD             384
SUBA            384
dtype: int64

In [51]:
mergeddata_df = mergeddata_df.drop(['NAME'],axis=1)

In [62]:
mergeddata_df.head()

,Fighter Name,Nickname,W,L,D,Height,Weight,Reach,Stance,DOB,Age,WeightClass,SLPM,SAPM,STRA,STRD,TD,TDA,TDD,SUBA
0,Tom Aaron,None,5,3,0,NA,155 lbs.,NA,NA,"Jul 13, 1978",42,lightweight,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
1,Danny Abbadi,The Assassin,4,6,0,"5' 11""",155 lbs.,NA,Orthodox,"Jul 03, 1983",37,lightweight,3.29,4.41,0.38,0.57,0.00,0.00,0.77,0.0
2,David Abbott,Tank,10,14,0,"6' 0""",265 lbs.,NA,Switch,NA,0,heavyweight,1.35,3.55,0.30,0.38,1.07,0.33,0.66,0.0
3,Shamil Abdurakhimov,Abrek,20,5,0,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",39,heavyweight,2.53,2.53,0.45,0.58,1.36,0.22,0.77,0.3
4,Hiroyuki Abe,Abe Ani,8,14,3,"5' 6""",145 lbs.,NA,Orthodox,NA,0,featherweight,1.71,3.11,0.36,0.63,0.00,0.00,0.33,0.0

In [53]:
#Null Values can be filled by scraping remaining data from scrapper program. Adding new csv.
scraped_data = pd.read_excel('scrapedfighterdata.xlsx')

In [54]:
scraped_data.columns

Index(['Unnamed: 0', 'DOB:', 'Height:', 'Name', 'Reach:', 'SApM:', 'SLpM:',
       'STANCE:', 'Str. Acc.:', 'Str. Def:', 'Sub. Avg.:', 'TD Acc.:',
       'TD Avg.:', 'TD Def.:', 'Weight:'],
      dtype='object')

In [56]:
scraped_data = scraped_data.drop(['Unnamed: 0', 'DOB:', 'Height:', 'Reach:', 'STANCE:','Weight:'], axis = 1)

In [73]:
scraped_data=scraped_data.rename(columns = {'SApM:':'SAPM', 'SLpM:':'SLPM','Str. Acc.:':'STRA','Str. Def:':'STRD',
                        'TD Avg.:':'TD','TD Acc.:':'TDA','TD Def.:':'TDD','Sub. Avg.:':'SUBA', 'Name':'Fighter Name'})

In [93]:
scraped_data['STRA'] = scraped_data['STRA'].str.rstrip('%').astype('float') / 100.0

In [95]:
scraped_data['STRD'] = scraped_data['STRD'].str.rstrip('%').astype('float') / 100.0
scraped_data['TDA'] = scraped_data['TDA'].str.rstrip('%').astype('float') / 100.0

In [97]:
scraped_data['TDD'] = scraped_data['TDD'].str.rstrip('%').astype('float') / 100.0

In [98]:
scraped_data.head()

           Fighter Name  SAPM  SLPM  STRA  STRD  SUBA   TDA    TD   TDD
0          Ode Osbourne  2.95  3.88  0.51  0.43   2.0  1.00  2.01  0.66
1  Anthony Rocco Martin  2.59  2.68  0.37  0.58   1.0  0.27  0.71  0.68
2          Tanner Boser  3.23  4.17  0.49  0.63   0.0  0.00  0.00  1.00
3          Hannah Goldy  3.90  6.53  0.46  0.55   0.0  0.00  0.00  0.66
4            Deron Winn  5.95  5.95  0.47  0.52   0.0  0.35  2.49  0.00

In [99]:
clean_df = pd.merge(mergeddata_df, scraped_data, left_on = 'Fighter Name', right_on = 'Fighter Name', how = 'left')

In [100]:
clean_df.columns

Index(['Fighter Name', 'Nickname', 'W', 'L', 'D', 'Height', 'Weight', 'Reach',
       'Stance', 'DOB', 'Age', 'WeightClass', 'SLPM_x', 'SAPM_x', 'STRA_x',
       'STRD_x', 'TD_x', 'TDA_x', 'TDD_x', 'SUBA_x', 'SAPM_y', 'SLPM_y',
       'STRA_y', 'STRD_y', 'SUBA_y', 'TDA_y', 'TD_y', 'TDD_y'],
      dtype='object')

In [101]:
clean_df['SLPM_x'] = clean_df['SLPM_x'].fillna(clean_df['SLPM_y'])
clean_df['SAPM_x'] = clean_df['SAPM_x'].fillna(clean_df['SAPM_y'])
clean_df['STRA_x'] = clean_df['STRA_x'].fillna(clean_df['STRA_y'])
clean_df['STRD_x'] = clean_df['STRD_x'].fillna(clean_df['STRD_y'])
clean_df['TD_x'] = clean_df['TD_x'].fillna(clean_df['TD_y'])
clean_df['TDA_x'] = clean_df['TDA_x'].fillna(clean_df['TDA_y'])
clean_df['TDD_x'] = clean_df['TDD_x'].fillna(clean_df['TDD_y'])
clean_df['SUBA_x'] = clean_df['SUBA_x'].fillna(clean_df['SUBA_y'])

In [102]:
clean_df = clean_df.drop(['SAPM_y', 'SLPM_y','STRA_y', 'STRD_y', 'SUBA_y', 'TDA_y', 'TD_y', 'TDD_y'], axis = 1)

In [105]:
#writting Clean data to excel File
clean_df.to_excel("fighter_eda.xlsx")

<h4>2.2 Cleaning Fight Data set </h4>

In [2]:
fight_df = pd.read_csv(r"fightdata.csv")

In [43]:
fight_df.head()

,R_fighter,B_fighter,R_KD,B_KD,R_SIG_STR.,R_SIG_STR_ATT,B_SIG_STR.,B_SIG_STR_ATT,R_SIG_STR_pct,B_SIG_STR_pct,...,B_GROUND,B_GROUND_ATT,win_by,last_round,Format,date,location,Winner,Championship Bout,Weight Class
0,Henry Cejudo,Marlon Moraes,0,0,90,171,57,119,0.52,0.47,...,1,1,KO/TKO,3,5 Rnd (5-5-5-5-5),6/8/2019,"Chicago, Illinois, USA",Henry Cejudo,YES,Bantamweight
1,Valentina Shevchenko,Jessica Eye,1,0,8,11,2,12,0.72,0.16,...,0,0,KO/TKO,2,5 Rnd (5-5-5-5-5),6/8/2019,"Chicago, Illinois, USA",Valentina Shevchenko,YES,Women's Flyweight
2,Tony Ferguson,Donald Cerrone,0,0,104,200,68,185,0.52,0.36,...,0,0,TKO - Doctor's Stoppage,2,3 Rnd (5-5-5),6/8/2019,"Chicago, Illinois, USA",Tony Ferguson,NO,Lightweight
3,Jimmie Rivera,Petr Yan,0,2,73,192,56,189,0.38,0.29,...,4,10,Decision - Unanimous,3,3 Rnd (5-5-5),6/8/2019,"Chicago, Illinois, USA",Petr Yan,NO,Bantamweight
4,Tai Tuivasa,Blagoy Ivanov,0,1,64,144,73,123,0.44,0.59,...,6,6,Decision - Unanimous,3,3 Rnd (5-5-5),6/8/2019,"Chicago, Illinois, USA",Blagoy Ivanov,NO,Heavyweight

In [44]:
print("Datset Shape:",fight_df.shape)

Datset Shape: (5144, 54)

In [45]:
print("Dataset Datatype\n", fight_df.dtypes)

Dataset Datatype
 R_fighter             object
B_fighter             object
R_KD                   int64
B_KD                   int64
R_SIG_STR.             int64
R_SIG_STR_ATT          int64
B_SIG_STR.             int64
B_SIG_STR_ATT          int64
R_SIG_STR_pct        float64
B_SIG_STR_pct        float64
R_TOTAL_STR.           int64
R_TOTAL_STR_ATT        int64
B_TOTAL_STR.           int64
B_TOTAL_STR_ATT        int64
R_TD                   int64
R_TD_ATT              object
B_TD                   int64
B_TD_ATT              object
R_TD_pct             float64
B_TD_pct             float64
R_SUB_ATT              int64
B_SUB_ATT              int64
R_PASS                 int64
B_PASS                 int64
R_REV                  int64
B_REV                  int64
R_HEAD                 int64
R_HEAD_ATT             int64
B_HEAD                 int64
B_HEAD_ATT             int64
R_BODY                 int64
R_BODY_ATT             int64
B_BODY                 int64
B_BODY_ATT             int64
R_LEG                  int64
R_LEG_ATT              int64
B_LEG                  int64
B_LEG_ATT              int64
R_CLINCH               int64
R_CLINCH_ATT           int64
B_CLINCH               int64
B_CLINCH_ATT           int64
R_GROUND               int64
R_GROUND_ATT           int64
B_GROUND               int64
B_GROUND_ATT          object
win_by                object
last_round             int64
Format                object
date                  object
location              object
Winner                object
Championship Bout     object
Weight Class          object
dtype: object

In [46]:
print("Null Values\n",fight_df.isna().sum())

Null Values
 R_fighter             0
B_fighter             0
R_KD                  0
B_KD                  0
R_SIG_STR.            0
R_SIG_STR_ATT         0
B_SIG_STR.            0
B_SIG_STR_ATT         0
R_SIG_STR_pct         0
B_SIG_STR_pct         0
R_TOTAL_STR.          0
R_TOTAL_STR_ATT       0
B_TOTAL_STR.          0
B_TOTAL_STR_ATT       0
R_TD                  0
R_TD_ATT              0
B_TD                  0
B_TD_ATT              0
R_TD_pct              0
B_TD_pct              0
R_SUB_ATT             0
B_SUB_ATT             0
R_PASS                0
B_PASS                0
R_REV                 0
B_REV                 0
R_HEAD                0
R_HEAD_ATT            0
B_HEAD                0
B_HEAD_ATT            0
R_BODY                0
R_BODY_ATT            0
B_BODY                0
B_BODY_ATT            0
R_LEG                 0
R_LEG_ATT             0
B_LEG                 0
B_LEG_ATT             0
R_CLINCH              0
R_CLINCH_ATT          0
B_CLINCH              0
B_CLINCH_ATT          0
R_GROUND              0
R_GROUND_ATT          0
B_GROUND              0
B_GROUND_ATT          0
win_by                0
last_round            0
Format                0
date                  0
location              0
Winner               77
Championship Bout     0
Weight Class          0
dtype: int64

In [47]:
fight_df['Winner'].fillna('Draw/No Contest', inplace=True)

In [48]:
print("Null Values\n",fight_df.isna().sum().sum())

Null Values
 0

In [49]:
fight_df.head()

,R_fighter,B_fighter,R_KD,B_KD,R_SIG_STR.,R_SIG_STR_ATT,B_SIG_STR.,B_SIG_STR_ATT,R_SIG_STR_pct,B_SIG_STR_pct,...,B_GROUND,B_GROUND_ATT,win_by,last_round,Format,date,location,Winner,Championship Bout,Weight Class
0,Henry Cejudo,Marlon Moraes,0,0,90,171,57,119,0.52,0.47,...,1,1,KO/TKO,3,5 Rnd (5-5-5-5-5),6/8/2019,"Chicago, Illinois, USA",Henry Cejudo,YES,Bantamweight
1,Valentina Shevchenko,Jessica Eye,1,0,8,11,2,12,0.72,0.16,...,0,0,KO/TKO,2,5 Rnd (5-5-5-5-5),6/8/2019,"Chicago, Illinois, USA",Valentina Shevchenko,YES,Women's Flyweight
2,Tony Ferguson,Donald Cerrone,0,0,104,200,68,185,0.52,0.36,...,0,0,TKO - Doctor's Stoppage,2,3 Rnd (5-5-5),6/8/2019,"Chicago, Illinois, USA",Tony Ferguson,NO,Lightweight
3,Jimmie Rivera,Petr Yan,0,2,73,192,56,189,0.38,0.29,...,4,10,Decision - Unanimous,3,3 Rnd (5-5-5),6/8/2019,"Chicago, Illinois, USA",Petr Yan,NO,Bantamweight
4,Tai Tuivasa,Blagoy Ivanov,0,1,64,144,73,123,0.44,0.59,...,6,6,Decision - Unanimous,3,3 Rnd (5-5-5),6/8/2019,"Chicago, Illinois, USA",Blagoy Ivanov,NO,Heavyweight

In [50]:
#writting Clean data to excel File
fight_df.to_excel("fight_eda.xlsx")